In [1]:
import numpy as np
import pandas as pd
import chardet
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import statsmodels.api as sm
from scipy import stats

sns.set(rc={'figure.figsize':(20, 10)})

In [2]:
with open('EDO_SampleData.csv', 'rb') as f:
    result = chardet.detect(f.read())

In [3]:
data = pd.read_csv('EDO_SampleData.csv', encoding=result['encoding'])

In [5]:
useful_columns = ['Entity Name', 'Network', 'Show Title', 'Show Genre', 'Show Sub Genre', 'Duration', 'Daypart (ET)', 'New Episode', 'Live Event', 'Special Event', 'Pod ABMYZ', 'Creative SER']
data1 = data[useful_columns].dropna(axis=0)

In [6]:
useful_columns

['Entity Name',
 'Network',
 'Show Title',
 'Show Genre',
 'Show Sub Genre',
 'Duration',
 'Daypart (ET)',
 'New Episode',
 'Live Event',
 'Special Event',
 'Pod ABMYZ',
 'Creative SER']

In [12]:
data1.groupby(['Entity Name']).agg(['mean', 'count'])['Creative SER'].sort_values(by='count', ascending=False)

                                                  mean  count
Entity Name
Ralph Breaks The Internet: Wreck-It Ralph 2  16.116941    266
Robin Hood                                    8.285466    261
Green Book                                    4.122791    144
Creed II                                     25.314180    128
Dr. Seuss' The Grinch                        14.964678    112
Spider-Man: Into The Spider-Verse             6.581413     94
Mortal Engines                                7.900839     90
The Possession Of Hannah Grace               11.488904     57
The Mule                                     24.823363     52
Vice                                         13.645683     28
Bumblebee                                     4.239996     21
Aquaman                                      38.265530     16
Second Act                                    5.506592     15
Mary Poppins Returns                         10.141652     12
Fantastic Beasts: The Crimes of Grindelwald  13.240089     10
Captain Marvel                                3.459102      5
Welcome To Marwen                            23.915172      2